{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "auto"
      }
    ]
  ],
  "sourceMaps": true,
  "retainLines": true
}
